/* ============================
   Global Style
   ============================ */

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 13px;
    color: #ffffff;
}

window#waybar {
    background: rgba(0, 0, 0, 0.8);
    padding: 0 10px;
    margin: 0;
    border: none;
}

/* Space between modules */
.modules-right > * {
    margin-left: 14px;
}

.modules-left > * {
    margin-right: 14px;
}

/* ============================
   Module Padding
   ============================ */

#network,
#bluetooth,
#pulseaudio,
#clock,
#tray {
    padding: 0 6px;
}